In [2]:
from DataReader import DataReader
import pandas as pd
import numpy as np

In [ ]:
dataObject = DataReader()
df = dataObject.get_data(["^NSEI", 'AAPL'], '2025-01-01', '2025-5-01')

('^NSEI', '2025-01-01', '2025-5-01')
YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [4]:
df

Price              Close          High           Low          Open  Volume
Ticker             ^NSEI         ^NSEI         ^NSEI         ^NSEI   ^NSEI
Date
2025-01-01  23742.900391  23822.800781  23562.800781  23637.650391  154900
2025-01-02  24188.650391  24226.699219  23751.550781  23783.000000  283200
2025-01-03  24004.750000  24196.449219  23976.000000  24196.400391  312300
2025-01-06  23616.050781  24089.949219  23551.900391  24045.800781  278100
2025-01-07  23707.900391  23795.199219  23637.800781  23679.900391  262300
...                  ...           ...           ...           ...     ...
2025-04-24  24246.699219  24347.849609  24216.150391  24277.900391  358800
2025-04-25  24039.349609  24365.449219  23847.849609  24289.000000  387700
2025-04-28  24328.500000  24355.099609  24054.050781  24070.250000  320500
2025-04-29  24335.949219  24457.650391  24290.750000  24370.699219  357600
2025-04-30  24334.199219  24396.150391  24198.750000  24342.050781  424500

[80 rows x 5 columns]